body {
    background-color: #CCEEBC;
    font-family: "Share Tech Mono", monospace;
}

.navbar {
    background-color: #41918a;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus {
    color: #b0fccc;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.list-group,
.content-display {
    width: 45%;
    max-height: 100%;
    overflow: auto;
}

.list-group-item {
    background-color: #78C1F3;
}

.content-display {
    background-color: #78C1F3;
    display: grid;
    grid-template-rows: 2fr 5fr 1fr;
    overflow: auto;
}

.trio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.header {
    font-size: x-large;
    border-bottom: 1px solid black;
}

.body {
    font-size: large;
    border-bottom: 1px solid black;
}

.footer {
    display: none;
}