body {
background-color: #CCEEBC;
}

.navbar {
    background-color: #41918a;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus {
    color: #b0fccc;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.list-group,
.content-display {
    width: 45%;
    max-height: 100%;
    overflow: auto;
}

.list-group-item,
.content-display {
    background-color: #78C1F3;
}